bin/Debug/net5.0/BinarySearch.deps.json
bin/Debug/net5.0/BinarySearch.dll
bin/Debug/net5.0/BinarySearch.pdb
bin/Debug/net5.0/BinarySearch.runtimeconfig.dev.json
bin/Debug/net5.0/BinarySearch.runtimeconfig.json
bin/Debug/net5.0/ref/BinarySearch.dll
obj/BinarySearch.csproj.nuget.dgspec.json
obj/BinarySearch.csproj.nuget.g.props
obj/BinarySearch.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/BinarySearch.AssemblyInfo.cs
obj/Debug/net5.0/BinarySearch.AssemblyInfoInputs.cache
obj/Debug/net5.0/BinarySearch.assets.cache
obj/Debug/net5.0/BinarySearch.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/BinarySearch.csproj.FileListAbsolute.txt
obj/Debug/net5.0/BinarySearch.csprojAssemblyReference.cache
obj/Debug/net5.0/BinarySearch.dll
obj/Debug/net5.0/BinarySearch.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/BinarySearch.genruntimeconfig.cache
obj/Debug/net5.0/BinarySearch.pdb
obj/Debug/net5.0/ref/BinarySearch.dll
